*{
    margin: 0;
    padding: 0;
}

.cont{
    border: 2px solid black;
    display: inline-block;
    padding: 45px;
    margin: 34px;
}

.cont2{
    border: 2px solid blue;
    display: inline-block;
    padding: 45px;
    margin: 34px;
}