@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


body{
    background-color: rgb(26, 97, 26);
    color: white;
    font-family: "Source Code Pro", Arial, sans-serif;
}