.card{
    display: flex;
    margin: 5px;
    border: 2px solid black;
    width: 900px;
    justify-content: flex-start;
    align-items: center;
}

.capsule{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.67);
    color: white;
    border-radius: 4px;
    padding: 2px;
    z-index: 10;
}

.image img{
    width: 200px;
    border-radius: 5px;
    
}

.image{
    position: relative;
    
}

.text h1, p {
    padding: 2px 0;
}